/Servico-Cartao/Servidor/nbproject/private/
/Servico-Cartao/Servidor/build/
/Servico-Cartao/Cliente/nbproject/private/
/Servico-Cartao/Cliente/build/
/Servico-Cartao/Servidor/dist/
/Servico-Cartao/Cliente/dist/
/RMI/Restaurante/nbproject/private/
/RMI/Restaurante/build/
/Banco 24 Horas RMI/Banco24Horas/nbproject/private/
/Banco 24 Horas RMI/Banco/nbproject/private/
/Banco 24 Horas RMI/CaixaEletronico/nbproject/private/
/Banco 24 Horas RMI/BDBanco24Horas/nbproject/private/
/Banco 24 Horas RMI/Banco/build/
/Banco 24 Horas RMI/BDBanco24Horas/build/
/Banco 24 Horas RMI/ClassesBanco24Horas/nbproject/private/
/Banco 24 Horas RMI/ClassesBanco24Horas/dist/
/Banco 24 Horas RMI/ClassesBanco24Horas/build/
/Banco 24 Horas RMI/CaixaEletronico/build/
/Banco 24 Horas RMI/BDBanco24Horas/dist/
/Banco 24 Horas RMI/Banco/dist/
/Banco 24 Horas RMI/ClassesBanco/nbproject/private/
/Banco 24 Horas RMI/ClassesBanco/dist/
/Banco 24 Horas RMI/ClassesBanco/build/
/Banco 24 Horas RMI/CaixaEletronico/dist/
/CORBA/ProjetoCorba/build/
/CORBA/ProjetoCorba/dist/
/CORBA/ProjetoCorba/nbproject/private/
/CORBA/ProjetoCorbaClient/build/
/CORBA/ProjetoCorbaClient/dist/
/CORBA/ProjetoCorbaClient/nbproject/private/
/SOAP/nbproject/private/
/SOAP/build/
/WSSeraQueVai/nbproject/private/
/WSSeraQueVai/build/
/app/nbproject/private/
/app/build/
/SOAP/WSSeraQueVai/nbproject/private/
/SOAP/app/nbproject/private/
/SOAP/WSSeraQueVai/build/
/SOAP/app/build/
/SOAP/app/dist/
/Banco 24 Horas SOAP/Banco/nbproject/private/
/Banco 24 Horas SOAP/Banco/build/
/Banco 24 Horas SOAP/BackEndBanco/nbproject/private/
/Banco 24 Horas SOAP/BackEndBanco/dist/
/Banco 24 Horas SOAP/BackEndBanco/build/
/Banco 24 Horas SOAP/Banco/dist/
/Banco 24 Horas SOAP/ClienteJS/nbproject/private/
/Banco 24 Horas SOAP/ClienteTeste/nbproject/private/
/Banco 24 Horas SOAP/Cliente/nbproject/private/
/Banco 24 Horas SOAP/Teste/nbproject/private/
/Banco 24 Horas SOAP/ClienteJS/ClientSideJS/nbproject/private/
/WSRest/nbproject/private/
/WSRest/build/
/WSRest/dist/
/Banco 24 Horas REST/Banco/nbproject/private/
/Banco 24 Horas REST/WebApplication1/nbproject/private/
/Banco 24 Horas REST/Banco/build/
/Banco 24 Horas REST/Banco/dist/
/Banco 24 Horas REST/ClienteJS/nbproject/private/
/Banco 24 Horas SOAP/ClienteJS/ServerSideJS/ServerSideJS/nbproject/private/
/Computação em Nuvem/Controle de Concorrência Firebase/Servidor/nbproject/private/
/Computação em Nuvem/Controle de Concorrência Firebase/Cliente/nbproject/private/
/Computação em Nuvem/Controle de Concorrência Firebase/ClassesServidor/nbproject/private/
/Computação em Nuvem/Controle de Concorrência Firebase/Servidor/build/
/Computação em Nuvem/Controle de Concorrência Firebase/ClassesServidor/build/
/Computação em Nuvem/Controle de Concorrência Firebase/Cliente/build/
/Peer to Peer/P2P/nbproject/private/
/Peer to Peer/P2P/build/