/Servico-Cartao/Servidor/nbproject/private/
/Servico-Cartao/Servidor/build/
/Servico-Cartao/Cliente/nbproject/private/
/Servico-Cartao/Cliente/build/
/Servico-Cartao/Servidor/dist/
/Servico-Cartao/Cliente/dist/
/RMI/Restaurante/nbproject/private/
/RMI/Restaurante/build/