<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BancoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BancoWS/BancoWS" binding="basicHttpBinding"
                bindingConfiguration="BancoWSPortBinding" contract="ws.BancoWS"
                name="BancoWSPort" />
        </client>
    </system.serviceModel>
</configuration>